{% extends 'blog/blog.html.twig' %}

{% block title %}Lecture{% endblock %}

{% block h1 %}
    Lecture d'article
{% endblock %}

{% block menu %}
    {{ parent() }}
    <a href="{{ path('blog_edit', {'idArticle': article.id}) }}">Modifier</a>
    <a href="{{ path('blog_delete', {'idArticle': article.id}) }}">Supprimer</a>
{% endblock %}

{% block content_blog %}
    <h2>{{ article.title }}</h2>
    <h3>{{ article.author }}</h3>
    <h4>{{ article.createdAt|date('d-m-Y') }} {% if article.updatedAt is not null %} / {{ article.updatedAt|date('d-m-Y') }} {% endif %}</h4>
    <p>{{ article.content }}</p>
{% endblock %}