{% extends 'blog/blog.html.twig' %}

{% block title %}{% trans %}Lecture{% endtrans %}{% endblock %}

{% block h1 %}
    {% trans %}Lecture d'article{% endtrans %}
{% endblock %}

{% block menu %}
    {{ parent() }}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('blog_edit', {'idArticle': article.id}) }}">{% trans %}Modifier{% endtrans %}</a>
        <a href="{{ path('blog_delete', {'idArticle': article.id}) }}">{% trans %}Supprimer{% endtrans %}</a>
    {% endif %}
{% endblock %}

{% block content_blog %}
    <article class="article-view">
        <h2>{{ article.title }}</h2>
        <h3>{{ article.author }}</h3>
        <h4>{{ article.createdAt|date('d-m-Y') }} {% if article.updatedAt is not null %} / {{ article.updatedAt|date('d-m-Y') }} {% endif %}</h4>

        <h4>
            <nav>
                {% for categorie in article.categories %}
                    {% if loop.first %}
                        <span>{% trans %}Catégories{% endtrans %}: </span>
                    {% endif %}
                    <a href="{{ path('blog_categorie', {'idCategorie': categorie.id}) }}">{{ categorie.name }}</a>
                {% endfor %}
            </nav>
        </h4>

        <p>{{ article.content }}</p>

        <p>{% trans %}Nombre de vues{% endtrans %}: {{ article.nbViews }}</p>
    </article>


    {% if article.comments is not empty %}
    <ul>
        {% for comment in article.comments %}
            <li class="comment">
                <h4>{{ comment.author }} : {{ comment.title }}</h4>
                <h5>{{ comment.createdAt|date('Y-m-d') }}</h5>
                <p>{{ comment.message }}</p>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}