{% extends 'blog/blog.html.twig' %}

{% block title %}{% trans %}Liste des articles{% endtrans %}{% endblock %}

{% import 'blog/list/macro.html.twig' as utils %}

{% block content_blog %}
    {% if listArticles is defined and listArticles is not empty %}
        <h2>{% trans %}Liste{% endtrans %}:</h2>
        <ul>
            {% for article in listArticles %}
                {{ utils.gen(article) }}
            {% endfor %}
        </ul>

        <div clas="flex-center">

        </div>
    {% else %}
        <h2>{% trans %}Aucun articles pour l'instant !{% endtrans %}</h2>
    {% endif %}
{% endblock %}

{% block footer %}
    <div class="pagination">
        {% if pageMax > 1 %}
            {% for page in 1..pageMax %}
                {% if page != currPage %}
                    <a href="{{ path('blog_list', {'nPage': page}) }}">{{ page }}</a>
                {% else %}
                    <a id="clicker">{{ page }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {{ parent() }}
{% endblock %}
