{% extends 'blog/blog.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% import 'blog/list/macro.html.twig' as utils %}

{% block content_blog %}
    <h2>Liste:</h2>
    <ul>
        <li>{{ utils.gen(1) }}</li>
        <li>{{ utils.gen(2) }}</li>
        <li>{{ utils.gen(3) }}</li>
        <li>{{ utils.gen(4) }}</li>
        <li>{{ utils.gen(5) }}</li>
        <li>{{ utils.gen(6) }}</li>
    </ul>
{% endblock %}
