{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} ~ {% trans %}by{% endtrans %} théo
{% endblock %}

{% block h1 %}
    {% trans %}Bienvenue sur mon blog{% endtrans %}
{% endblock %}

{% block menu %}
    {{ parent() }}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('blog_add') }}">{% trans %}Ajouter une page{% endtrans %}</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% block content_blog %}{% endblock %}
    {% block pagination %}{% endblock %}
{% endblock %}

{% block footer %}
    <p>"Ce blog est super!"  -  <i>Théo Thénault, 2023</i></p>
    <nav>
        <a href="{{ path('blog_list', {'_locale': 'fr'}) }}">{% trans %}Version Francaise{% endtrans %}</a>
        <a href="{{ path('blog_list', {'_locale': 'en'}) }}">{% trans %}English Version{% endtrans %}</a>
    </nav>
{% endblock %}