<li><h2>{% trans %}Catégories{% endtrans %}</h2></li>
<ul>
        {% for categorie in listCategories %}
                <li><a href="{{ path('blog_categorie', {'idCategorie': categorie.id}) }}">{{ categorie.name }}</a></li>
        {% else %}

        {% endfor %}
</ul>
<li><h2>{{ last_articles_len }} {% trans %}derniers articles{% endtrans %}</h2></li>
<ul>
        {% for article in articles %}
                <li><a href="{{ path('blog_view', {'idArticle': article.id}) }}">{{ article.title|u.truncate(article_title_preview_len) }}</a></li>
        {% else %}
                <li><p>{% trans %}Aucun article!{% endtrans %}</p></li>
        {% endfor %}
</ul>